@inherits LayoutComponentBase
@inject IConfiguration Configuration

<div class="top-row">
    <div class="logo-brand">
        <a href="" class="teal-text darken-4">@Configuration["website:LogoText"]</a>
    </div>
</div>
<MudContainer MaxWidth="MaxWidth.Large">
    <div class="page mt-4">
        @Body
    </div>
</MudContainer>

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>