@page "/license"
@inherits ShortPageDefault

<MudCard>
    <MudCardContent>
        <div>Icons made by <MudLink Href="https://www.flaticon.com/authors/pixel-perfect" Underline="Underline.Always" title="Pixel perfect">Pixel perfect</MudLink> from <MudLink Href="https://www.flaticon.com/" Underline="Underline.Always" title="Flaticon">www.flaticon.com</MudLink></div>
    </MudCardContent>
</MudCard>
