@page "/post/{PostName}"
@inherits ShortPageDefault

<h2>Post @PostName</h2>

<MudPaper Height="auto" Width="100%">
    <MudContainer MaxWidth="MaxWidth.False">
        <MudPaper Height="auto" Width="100%" Square="true" Class="mud-theme-primary">
            @((MarkupString)PostContent)
        </MudPaper>
    </MudContainer>
</MudPaper>
